@import './colours.module';

.volumeInput {
  --bar-bg: $white;
  --seek-before-width: 50px;
  --seek-before-color: $light-grey;
  --thumb-color: $white;
  --thumb-selected: $white;

  appearance: none;
  background: $mid-grey;
  border-radius: 10px;
  border: 1px solid black;
  left: 6px;
  bottom: 57px;
  width: 100px;
  height: 8px;
}

.volumeInput::-webkit-slider-thumb {
  appearance: none;
  // -webkit-appearance: none;
  // height: 10px;
  // width: 10px;
  // border-radius: 50%;
  // border: none;
  // background: $white;
  // cursor: pointer;
  // position: relative;
  // z-index: 3;
  // box-sizing: border-box;
}

.volumeBtn {
  padding-left: 12px;
  width: 20px;
  color: $light-grey;
}

.Vol {
  display: flex;
  justify-content: center;
  align-items: center;
}
