@import './colours.module';

.layoutContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 85%;
}

.sidebarContainer,
.screenContainer,
.artistsContainer {
  margin-top: 10px;
  margin-inline: 5px;
}

.sidebarContainer {
  flex-basis: 25%;
}

.screenContainer {
  flex-basis: 50%;
}

.artistsContainer {
  flex-basis: 25%;
}
