@import './colours.module';

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4%;
  transition: background-color 0.1s ease;
  img {
    height: 52px;
    margin-right: 20px;
    border-radius: 5%;
  }
  section {
    display: flex;
  }

  &:hover {
    background-color: hsl(0, 1%, 20%);
  }
}

.text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  color: $white !important;
  font-size: 19px;
}

.secondary {
  color: $light-grey;
  font-size: 14px;
  &:hover {
    color: $light-grey !important;
  }
}

.periodContainer {
  display: inline-block;
  padding-inline: 7px;
}

.period {
  font-size: 5px;
  margin-bottom: 2px;
}
