@import './colours.module';

@font-face {
  font-family: 'Circular';
  src: url('/fonts/circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $black;
  color: $white;
  font-family: 'Circular', sans-serif;
  a {
    color: $green;
  }
  input {
    color: $white;
  }
}
