@import './colours.module';

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top:0;
  padding-block: 20px;
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
  a {
    color: $white;
  }
}

#navScrolled {
  background-color: $bg-grey;
}

.chevrons {
    span {
    background-color: $black;
    padding: 10px;
    font-size: 20px;
    margin-inline: 5px;
    border-radius: 50%;
    cursor: pointer;
    }
}

.rightNav {
  display: flex;
  p {
    opacity: 0;
    background-color: $bg-grey;
    padding: 6px;
    border-radius: 10%;
    position: absolute;
    right: 30px;
    top: 55px;
    transition: opacity 0.3s ease;
  }
}

.profileIcon {
  &:hover + p {
    opacity: 1;
  }
}

.install {
  margin-right: 25px;
  a {
  }
}

.downloadIcon {
  margin-right: 5px;
}
