@import './colours.module';

.container {
  display: flex;
  padding: 27px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $bg-grey;
  overflow-y: auto;
  border-radius: 1%;
  color: black;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  &::-webkit-scrollbar-track {
    background-color: $bg-grey;
  }
  
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
    height: 40px;
    background-color: $btn-grey;
    color: $white;
    border-radius: 20px;
    padding-inline: 20px;
    width: 40%;
  .input {
    background-color: $btn-grey;
    color: $white;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    &:focus {
      outline: none; 
    }
  }
  .icon{
    margin-right: 10px;
  }

}


.resultsContainer {
  color: $white;
  display: flex;
  width: 100%;
  text-align: left;
}

.topResults {
  width: 30%;
  margin: 30px;
  div{
    background-color: $btn-grey;
    padding: 20px;
  }
}

.songs{
  width: 60%;
  margin: 30px;
  
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0.8;
  }
  p{
    color: $light-grey;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    margin: 10px;
  }
  
}

.imgInfoContainer {
  display: flex;
}