@import './colours.module';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  a {
    color: $light-grey;
    &:hover {
      color: white;
    }
  }
}

.nav,
.library {
  display: flex;
  flex-direction: column;
  background-color: $bg-grey;
}

.library {
  margin-top: 10px;
  height: 100%;
  overflow-y: auto;
  border-radius: 1%;
  font-size: 18px;
  padding: 20px;
  span {
    display: flex;
    justify-content: space-between;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-grey;
  }
}

.libraryOptions {
  color: $light-grey;
  margin-inline: 5px;
  padding: 7px;
  border-radius: 50%;
  &:hover {
    color: $white;
    background-color: $mid-grey;
  }
}

.nav {
  border-radius: 4%;
}

.navItems {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  text-align: left;
  padding-left: 25px;
  a {
    padding: 10px;
    font-size: 17px;
  }
}

.houseIcon {
  padding-right: 20px;
}
.magIcon {
  padding-right: 23px;
}

.yourLibrary,
.navItems a {
  font-size: 17px;
}

.type {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 15px;
    padding: 4px 15px;
    margin-right: 5px;
    background-color: $btn-grey;
    border-radius: 50%;
    color: white;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: hsl(0, 0%, 20%);
    }
  }
}

.recents {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  font-size: 14px;
}
