@import './colours.module';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  a {
    color: $light-grey;
    &:hover {
      color: white;
    }
  }
}

.nav,
.library {
  display: flex;
  flex-direction: column;
  background-color: $bg-grey;
}

.library {
  margin-top: 10px;
  height: 100%;
  border-radius: 1%;
  font-size: 18px;
  padding: 20px;
  span {
    display: flex;
    justify-content: space-between;
  }
}

.libraryOptions {
  color: $light-grey;
  margin-inline: 5px;
  padding: 7px;
  border-radius: 50%;
  &:hover {
    color: $white;
    background-color: $mid-grey;
  }
}

.nav {
  border-radius: 4%;
}

.navItems {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  font-size: 19px;
}

.type {
  margin: 10px;
  a {
    padding: 10px;
    margin-right: 5px;
    background-color: $btn-grey;
    border-radius: 40%;
    color: white;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: hsl(0, 0%, 20%);
    }
  }
}

.recents {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  font-size: 14px;
}
